body {
    background-color: black;
}
a {
    color: black;
    text-decoration: none;
    width: fit-content;
}

.section {
    text-align: center;
    padding: 3%;
    font-size: 1.5em;
    font-family: CODEbold, 'monospace';
}
.sectionThin{
    padding-bottom: 0px;
}

.whiteBox {
    text-align: center;
    display: inline-block;
    background-color: white;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 5px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.searchBox {
    width: 50%;
    height: 2em;
    padding: 5px;
    border-radius: 5px;
    border-width: 0px;
    font-family: UbuntuRegular, 'Courier New', Courier, monospace;
    font-weight: bold;
}

.logo {
    margin: auto;
    margin-bottom: 0.25em;
    display: block;
    height: 3em;
}

@font-face {
    font-family: CODEbold;
    src: url(fonts/CODE\ Bold.otf);
}

@font-face {
    font-family: UbuntuRegular;
    src: url(fonts/ubuntu.regular.ttf);
}