body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    /* overflow: hidden; */
    display: block;
    /* position: relative; */
}
canvas {
    position: absolute;
}
h1 {
    font-family: CODElight;
}
a {
    color: black;
    text-decoration: none;
    width: fit-content;
}
.whiteBox {
    display: inline-block;
    background-color: white;
    width: fit-content;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 5px;
    margin-right: 1em;
    margin-bottom: 1em;
}
.menu {
    z-index: 1;
    position: relative;
    padding: 5%;
    font-size: 1.5em;
    font-family: CODEbold, 'monospace';
}
/* .menuSection {
    margin-bottom: 5%;
} */
.menuContent {
    display: none;
}
.locale {
    display: inline-block;
}
#mail {
    font-family: monospace;
    font-weight: bold;
}
.icon {
    height: 0.7em;
    width: auto;
    margin-left: 3px;
}
.flag {
    height: 1.3em;
}
.icon #mail {
    color: red;
}

@font-face {
    font-family: CODEbold;
    src: url(../fonts/CODE\ Bold.otf);
}
@font-face {
    font-family: CODElight;
    src: url(../fonts/CODE\ Light.otf);
}