@font-face {
    font-family: 'NaturalMonoAltRegular';
    src: url('/assets/fonts/NaturalMonoAltRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media(prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --background-st: #0008;
        --foreground: #FFF;
        --text: #FFF;
        --accent: #3749e6;
    }
    img.light {
        display: none;
    }
}
@media(prefers-color-scheme: light) {
    :root {
        --background: #FFF;
        --background-st: #FFF8;
        --foreground: #222;
        --text: #000;
        --accent: #f28c26;
    }
    img.dark {
        display: none;
    }
}

body {
    margin: 0px;
    font-family: NaturalMonoAltRegular, monospace, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

canvas {
    position: absolute;
    top: 0px;
}

.container {
    position: relative;
    z-index: 1;
    margin: 5%;
    max-width: 800px;
}

h1 {
    width: fit-content;
    border-top: 0.1em solid var(--foreground);
    border-bottom: 0.1em solid var(--foreground);
}

h1 a {
    display: flex;
}

a {
    color: var(--text);
    text-decoration: none;
}

#logo {
    margin-top: 0.2em;
    margin-right: 0.2em;
    height: 2em;

}

ul, menu {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style-type: none;
}
.navButt {
    display: inline-block;
    background-color: var(--accent);
    padding: 0.2em 0.2em 0.1em;
}

main {
    text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 0.2em;
    background-color: var(--background-st);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}
#settings {
    position: absolute;
    top: 0px;
    right: 0px;
}

#settings img {
    background-color: var(--accent);
    border: 5px solid var(--accent);
    border-radius: 50%;
}

.icon {
    height: 2em;
    vertical-align: middle;
    margin-right: 1em;
}

/* Projects */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
    gap: 1em 3em;
}

.grid a {
    background-color: var(--foreground);
    color: var(--background);
    text-align: center;
    padding: 0.3em;
    border: 0.2em solid var(--foreground);
}
.grid a:hover {
    border: 0.2em solid var(--accent);
}

.grid a img {
    height: 8ch;
    max-width: 8ch;
}

/* Contact */
.contacts li {
    margin-bottom: 0.5em;
}

/* Dashboard */
.dashboard {
    margin: 5%;
}
#searchbar {
    margin-bottom: 2em;
    max-width: 90%;
    width: 40em;
    height: 1.5em;
    font-family: NaturalMonoAltRegular, monospace, sans-serif;

    border-radius: 0px;
    border: 2px solid var(--foreground);
}
#searchbar:focus{
    outline: 0.2em solid var(--accent);
}